@font-face {
  font-family: "Spectral SC";
  src: url("/fonts/SpectralSC/SpectralSC-Light.eot");
  src: local(""),
    url("/fonts/SpectralSC/SpectralSC-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/SpectralSC/SpectralSC-Light.woff2") format("woff2"),
    url("/fonts/SpectralSC/SpectralSC-Light.woff") format("woff"),
    url("/fonts/SpectralSC/SpectralSC-Light.ttf") format("truetype"),
    url("/fonts/SpectralSC/SpectralSC-Light.svg#SpectralSC") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Spectral SC";
  src: url("/fonts/SpectralSC/SpectralSC-LightItalic.eot");
  src: local(""),
    url("/fonts/SpectralSC/SpectralSC-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/SpectralSC/SpectralSC-LightItalic.woff2") format("woff2"),
    url("/fonts/SpectralSC/SpectralSC-LightItalic.woff") format("woff"),
    url("/fonts/SpectralSC/SpectralSC-LightItalic.ttf") format("truetype"),
    url("/fonts/SpectralSC/SpectralSC-LightItalic.svg#SpectralSC") format("svg");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Light.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Light.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-Light.svg#Roboto") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-LightItalic.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-LightItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-LightItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-LightItalic.svg#Roboto") format("svg");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-Regular.svg#Roboto") format("svg");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Italic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-Italic.svg#Roboto") format("svg");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-Bold.svg#Roboto") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-BoldItalic.eot");
  src: local(""),
    url("/fonts/Roboto/Roboto-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("/fonts/Roboto/Roboto-BoldItalic.woff") format("woff"),
    url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("/fonts/Roboto/Roboto-BoldItalic.svg#Roboto") format("svg");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
